.expand[data-is-open="false"] {
  img {
    transform: rotate(180deg);
  }
}

.expand[data-is-open="true"] {
  img {
    transform: initial;
  }
}

.expand {
  display: flex;
  flex-direction: column;
  flex: 1;

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    padding: 1em 1.5em;
    border-radius: 12px;

    cursor: pointer;

    z-index: 1;
    position: relative;

    h3 {
      font-size: 18px;
      font-weight: 500;
      color: var(--white);
    }

    img {
      transition: transform 240ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }

  .content {
    border-radius: 12px;
    background-color: var(--grey);
    padding: calc(1.5em + 20px) 1.5em 1.5em 1.5em;
    margin-top: -20px;
    flex: 1;

    .equipements {
      display: flex;
      column-gap: 0.5em;
      flex-direction: column;
    }
  }
}
