.rating {
  display: flex;
  column-gap: 6px;

  svg {
    height: calc(12px + 1.6vw);
    width: calc(12px + 1.6vw);
  }

  svg[data-is-filled="true"] {
    fill: var(--main-color);
  }

  svg[data-is-filled="false"] {
    fill: var(--grey-dark);
  }
}
