.caroussel {
  height: 16em;
  border-radius: 25px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 24px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;

  .actions {
    width: 100%;
    display: flex;
    justify-content: space-between;

    > img:nth-child(1) {
      transform: rotate(-90deg);
    }

    > img:nth-child(2) {
      transform: rotate(90deg);
    }

    img {
      height: calc(2em + 4vw);
    }
  }

  span {
    display: none;
    position: absolute;
    bottom: 5%;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
  }
}

@media (min-width: 1000px) {
  .caroussel {
    height: 26em;

    span {
      display: initial;
    }
  }
}
