header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  img {
    height: 2.8em;
  }

  ul {
    display: flex;
    column-gap: calc(1em + 3vw);

    li a {
      font-size: 0.75em;
      font-weight: 500;
      text-transform: uppercase;
    }

    li .navlink-active {
      text-decoration: underline;
    }
  }
}

@media (min-width: 800px) {
  header {
    img {
      height: 4.25em;
    }

    ul li a {
      font-size: 1.5em;
      text-transform: initial;
    }
  }
}
