.owner {
  display: flex;
  align-items: center;
  column-gap: 1em;

  img {
    height: calc(24px + 2.5vw);
    width: calc(24px + 2.5vw);
    // background-color: grey;
    border-radius: 99px;
  }

  p {
    text-align: right;
  }
}
