.carousel {
  height: 16em;
  border-radius: 25px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;

  .carousel-item {
    min-width: 100%;
    width: 100%;
    object-fit: cover;
    transition: 500ms ease-in-out;
  }

  .actions {
    width: 100%;
    display: flex;
    justify-content: space-between;

    position: absolute;
    z-index: 99;
    top: 37%;

    > button {
      padding: 16px;
    }

    > button:nth-child(1) img {
      transform: rotate(-90deg);
    }

    > button:nth-child(2) img {
      transform: rotate(90deg);
    }

    img {
      height: calc(2em + 4vw);
    }
  }

  span {
    display: none;
    position: absolute;
    z-index: 99;
    bottom: 5%;
    left: 48%;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
  }
}

@media (min-width: 800px) {
  .carousel {
    height: 26em;

    span {
      display: initial;
    }
  }
}
