.rating {
  display: flex;

  img {
    padding: 4px;
  }

  svg {
    height: 24px;
    width: 24px;
    padding: 4px;
  }

  svg[data-isFilled="true"] {
    fill: red;
  }

  img[data-isFilled="false"] {
    fill: blue;
  }
}
