.content-layout {
  padding: 1.25em;
}

@media (min-width: 800px) {
  .content-layout {
    padding: 2.5em 6.25em;
  }
}

.page-flex {
  display: flex;
  flex-direction: column;
  row-gap: calc(1em + 1vw);

  padding-top: 0;
}
/// Housing Page
.housing-expands {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  column-gap: 2em;
}

@media (min-width: 800px) {
  .housing-expands {
    flex-direction: row;
  }
}

/// ERROR 404
.error-404 {
  text-align: center;
  height: calc(70vh - 4vw);
  justify-content: center;

  p {
    font-size: calc(3em + 14vw);
    font-weight: 700;
    line-height: 1;
  }

  a {
    text-decoration: underline;
  }
}
