.first-section[data-is-dense="true"] {
  height: calc(7em + 4vw);
}

.first-section[data-is-dense="false"] {
  height: 16em;
}

.first-section {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  padding: calc(1em + 1vw);
  border-radius: calc(0.625em + 1vw);
  overflow: hidden;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h1 {
    font-size: calc(1em + 2vw);
    font-weight: 500;
    color: var(--white);
    z-index: 1;
  }

  &::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #000;
    mix-blend-mode: darken;
    opacity: 0.3;
  }
}

@media (min-width: 800px) {
  .first-section {
    height: 14em;

    h1 {
      text-align: center;
    }
  }
}
